<div class="forgot-container">
  <div class="header-container">
    <span class="header-title">Angular material template</span>
    <div class="icon-container"></div>
  </div>
  <div class="form-container">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="input-style"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Enter your email"
        />
        <mat-error
          *ngIf="
            forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched
          "
          class="error-text"
        >
          Email is required and must be valid.
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="submit-btn">
        Forgot Password
      </button>
    </form>

    <div class="back-to-login">
      <span>Back To.</span>
      <div class="title" (click)="onLogin()">Sign In</div>
    </div>
  </div>
</div>
